Repository abhijeet007rocks8/Dev-Scripts, pull requests merged in 2022-04, with the labels that each got.

#222 Added Microsoft Teams Clone files
  Web Development/Microsoft_Teams_Clone/assets/css/bootstrap.css
  Web Development/Microsoft_Teams_Clone/assets/css/bootstrap.css.map
  Web Development/Microsoft_Teams_Clone/assets/css/style.css
  Web Development/Microsoft_Teams_Clone/assets/media/Teams_Icon.jpg
  Web Development/Microsoft_Teams_Clone/assets/media/person.png
  Web Development/Microsoft_Teams_Clone/index.html
  Web Development/Microsoft_Teams_Clone/readme.md
  Web Development/Microsoft_Teams_Clone/scripts/bootstrap.bundle.js
  Web Development/Microsoft_Teams_Clone/scripts/bootstrap.bundle.js.map
Labels: Level2, GSSoC22, Completed 🥳

#258 Added Crypto Rush Application
  React/CryptoRush/README.md
  React/CryptoRush/package-lock.json
  React/CryptoRush/package.json
  React/CryptoRush/public/favicon.ico
  React/CryptoRush/public/index.html
  React/CryptoRush/public/logo192.png
  React/CryptoRush/public/logo512.png
  React/CryptoRush/public/manifest.json
  React/CryptoRush/public/robots.txt
  React/CryptoRush/src/App.css
  React/CryptoRush/src/App.js
  React/CryptoRush/src/app/store.js
  React/CryptoRush/src/components/CryptoDetails.jsx
  React/CryptoRush/src/components/Cryptocurrencies.jsx
  React/CryptoRush/src/components/Exchanges.jsx
  React/CryptoRush/src/components/Homepage.jsx
  React/CryptoRush/src/components/Linechart.jsx
  React/CryptoRush/src/components/Loader.jsx
  React/CryptoRush/src/components/Navbar.jsx
  React/CryptoRush/src/components/News.jsx
  React/CryptoRush/src/components/index.js
  React/CryptoRush/src/image/doge.png
  React/CryptoRush/src/image/krypto-logo.png
  React/CryptoRush/src/image/news.jpg
  React/CryptoRush/src/image/shiba.png
  React/CryptoRush/src/index.js
  React/CryptoRush/src/services/cryptoApi.js
  React/CryptoRush/src/services/cryptoNewsApi.js
Labels: Level3, GSSoC22, Completed 🥳

#250 2048 game clone added
  Web Development/2048 Clone/.gitignore
  Web Development/2048 Clone/README.md
  Web Development/2048 Clone/package-lock.json
  Web Development/2048 Clone/package.json
  Web Development/2048 Clone/public/2048.svg
  Web Development/2048 Clone/public/index.html
  Web Development/2048 Clone/public/manifest.json
  Web Development/2048 Clone/public/robots.txt
  Web Development/2048 Clone/src/Styles.js
  Web Development/2048 Clone/src/TwentyFourtyEight.css
  Web Development/2048 Clone/src/TwentyFourtyEight.js
  Web Development/2048 Clone/src/grid.svg
  Web Development/2048 Clone/src/index.css
  Web Development/2048 Clone/src/index.js
  Web Development/2048 Clone/src/package.json
  Web Development/2048 Clone/src/restart.svg
  Web Development/2048 Clone/src/serviceWorker.js
  Web Development/2048 Clone/src/undo.svg
Labels: Level1, GSSoC22, Completed 🥳

#272 Tindog - Tinder Spoof
  Web Development/Tindog/README.md
  Web Development/Tindog/css/styles.css
  Web Development/Tindog/images/TechCrunch.png
  Web Development/Tindog/images/apple.png
  Web Development/Tindog/images/bizinsider.png
  Web Development/Tindog/images/dog-img.jpg
  Web Development/Tindog/images/iphone6.png
  Web Development/Tindog/images/lady-img.jpg
  Web Development/Tindog/images/mashable.png
  Web Development/Tindog/images/playstore.png
  Web Development/Tindog/images/tnw.png
  Web Development/Tindog/index.html
Labels: Level2, GSSoC22

#274 Secret Website Added
  NodeJS/Secret/README.md
  NodeJS/Secret/app.js
  NodeJS/Secret/package-lock.json
  NodeJS/Secret/package.json
  NodeJS/Secret/public/css/bootstrap-social.css
  NodeJS/Secret/public/css/styles.css
  NodeJS/Secret/views/home.ejs
  NodeJS/Secret/views/login.ejs
  NodeJS/Secret/views/partials/footer.ejs
  NodeJS/Secret/views/partials/header.ejs
  NodeJS/Secret/views/register.ejs
  NodeJS/Secret/views/secrets.ejs
  NodeJS/Secret/views/submit.ejs
Labels: Level3, GSSoC22, Completed 🥳

#259 Github Activity Generator Added
  Web Development/Github_Activity_Generator/README.md
  Web Development/Github_Activity_Generator/images/github_activity_generator.gif
  Web Development/Github_Activity_Generator/index.html
  Web Development/Github_Activity_Generator/logo.png
  Web Development/Github_Activity_Generator/script.js
  Web Development/Github_Activity_Generator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#135 feat: Add Crypto Tracker
  React/crypto_tracker/.gitignore
  React/crypto_tracker/README.md
  React/crypto_tracker/images/crypto-tracker.gif
  React/crypto_tracker/images/currency.png
  React/crypto_tracker/images/price.png
  React/crypto_tracker/images/search.png
  React/crypto_tracker/images/visual.png
  React/crypto_tracker/package-lock.json
  React/crypto_tracker/package.json
  React/crypto_tracker/public/banner2.jpg
  React/crypto_tracker/public/favicon.svg
  React/crypto_tracker/public/index.html
  React/crypto_tracker/public/logo128.png
  React/crypto_tracker/public/logo512.png
  React/crypto_tracker/public/manifest.json
  React/crypto_tracker/public/robots.txt
  React/crypto_tracker/src/App.css
  React/crypto_tracker/src/App.jsx
  React/crypto_tracker/src/CryptoContext.jsx
  React/crypto_tracker/src/components/Banner/Banner.jsx
  React/crypto_tracker/src/components/Banner/Carousel.jsx
  React/crypto_tracker/src/components/CoinInfo.jsx
  React/crypto_tracker/src/components/CoinTable.jsx
  React/crypto_tracker/src/components/Footer.jsx
  React/crypto_tracker/src/components/Header.jsx
  React/crypto_tracker/src/components/SelectButton.jsx
  React/crypto_tracker/src/config/api.js
  React/crypto_tracker/src/config/data.js
  React/crypto_tracker/src/index.css
  React/crypto_tracker/src/index.js
  React/crypto_tracker/src/pages/Coinpage.jsx
  React/crypto_tracker/src/pages/Homepage.jsx
Labels: Level3, GSSoC22, Completed 🥳, React Js

#282 Parallex Design Added
  Web Development/Parallex-Web-Design/Images/demo.png
  Web Development/Parallex-Web-Design/Images/image1.jpg
  Web Development/Parallex-Web-Design/Images/image2.jpg
  Web Development/Parallex-Web-Design/Images/image3.jpg
  Web Development/Parallex-Web-Design/ParallexEffect.css
  Web Development/Parallex-Web-Design/ParallexEffect.html
  Web Development/Parallex-Web-Design/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#281 Colorful Rain Effect Added
  Web Development/Colorful Rain Effect/index.html
  Web Development/Colorful Rain Effect/readme.md
  Web Development/Colorful Rain Effect/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#291 Added Twitch Clone Files
  Web Development/Twitch_Clone/assets/css/bootstrap.css
  Web Development/Twitch_Clone/assets/css/bootstrap.css.map
  Web Development/Twitch_Clone/assets/css/style.css
  Web Development/Twitch_Clone/assets/media/avatar.png
  Web Development/Twitch_Clone/assets/media/icon.png
  Web Development/Twitch_Clone/assets/media/recommend_0.jpg
  Web Development/Twitch_Clone/assets/media/stream.jpg
  Web Development/Twitch_Clone/index.html
  Web Development/Twitch_Clone/readme.md
  Web Development/Twitch_Clone/scripts/bootstrap.bundle.js
  Web Development/Twitch_Clone/scripts/bootstrap.bundle.js.map
Labels: Level1, GSSoC22, Completed 🥳

#305 Selfi-Capture
  Python/Selfi-Capture/.idea/.gitignore
  Python/Selfi-Capture/.idea/.name
  Python/Selfi-Capture/.idea/automatic.iml
  Python/Selfi-Capture/.idea/inspectionProfiles/Project_Default.xml
  Python/Selfi-Capture/.idea/inspectionProfiles/profiles_settings.xml
  Python/Selfi-Capture/.idea/misc.xml
  Python/Selfi-Capture/.idea/modules.xml
  Python/Selfi-Capture/README.md
  Python/Selfi-Capture/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#306 PDF-merger
  Python/PDF-merger/.idea/.gitignore
  Python/PDF-merger/.idea/.name
  Python/PDF-merger/.idea/inspectionProfiles/Project_Default.xml
  Python/PDF-merger/.idea/inspectionProfiles/profiles_settings.xml
  Python/PDF-merger/.idea/misc.xml
  Python/PDF-merger/.idea/modules.xml
  Python/PDF-merger/.idea/pdf merger.iml
  Python/PDF-merger/README.md
  Python/PDF-merger/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#300 Added Temperature Converter
  JAVA/Temperature Converter/Readme.md
  JAVA/Temperature Converter/Temperature_Converter.java
  JAVA/Temperature Converter/snips/snip1.png
  JAVA/Temperature Converter/snips/snip2.png
Labels: Level2, GSSoC22, Completed 🥳, Java

#301 Added Todo app
  Web Development/Todo App/.firebase/hosting.YnVpbGQ.cache
  Web Development/Todo App/.firebaserc
  Web Development/Todo App/.gitignore
  Web Development/Todo App/README.md
  Web Development/Todo App/firebase.json
  Web Development/Todo App/package.json
  Web Development/Todo App/public/favicon.ico
  Web Development/Todo App/public/index.html
  Web Development/Todo App/public/manifest.json
  Web Development/Todo App/public/robots.txt
  Web Development/Todo App/public/to-do-list-apps.png
  Web Development/Todo App/src/App.css
  Web Development/Todo App/src/App.js
  Web Development/Todo App/src/Todo.js
  Web Development/Todo App/src/firebase_config.js
  Web Development/Todo App/src/index.css
  Web Development/Todo App/src/index.js
  Web Development/Todo App/src/reportWebVitals.js
  Web Development/Todo App/src/setupTests.js
  Web Development/Todo App/yarn.lock
Labels: Level2, GSSoC22, Completed 🥳, React Js

#307 Star Catching Game added
  Web Development/Star Catching Game/README.md
  Web Development/Star Catching Game/game1bg.png
  Web Development/Star Catching Game/player.png
  Web Development/Star Catching Game/star.png
  Web Development/Star Catching Game/star_catching_game.JPG
  Web Development/Star Catching Game/star_catching_game.css
  Web Development/Star Catching Game/star_catching_game.html
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#285 Added QR code generator
  Web Development/QRcode_Generator/Readme.md
  Web Development/QRcode_Generator/index.html
  Web Development/QRcode_Generator/script.js
  Web Development/QRcode_Generator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#293 Plagiarism
  Python/Plagiarism/2.txt
  Python/Plagiarism/README.md
  Python/Plagiarism/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#345 Added Quiz App
  React/Quiz App/Readme.md
  React/Quiz App/package-lock.json
  React/Quiz App/package.json
  React/Quiz App/public/favicon.ico
  React/Quiz App/public/index.html
  React/Quiz App/public/logo192.png
  React/Quiz App/public/logo512.png
  React/Quiz App/public/manifest.json
  React/Quiz App/public/robots.txt
  React/Quiz App/src/App.js
  React/Quiz App/src/Loading.js
  React/Quiz App/src/Modal.js
  React/Quiz App/src/SetupForm.js
  React/Quiz App/src/context.js
  React/Quiz App/src/index.css
  React/Quiz App/src/index.js
Labels: Level2, GSSoC22, Completed 🥳, React Js

#355 Revised templates to add Scripts/Projects in C
  .github/ISSUE_TEMPLATE/create-an-issue.yaml
  .github/ISSUE_TEMPLATE/issue-template.yaml
  .github/pull_request_template.md
Labels: documentation, GSSoC22, Completed 🥳, Level0

#356 Added Markdown Project
  React/Markdown/Readme.md
  React/Markdown/package-lock.json
  React/Markdown/package.json
  React/Markdown/public/favicon.ico
  React/Markdown/public/index.html
  React/Markdown/public/logo192.png
  React/Markdown/public/logo512.png
  React/Markdown/public/manifest.json
  React/Markdown/public/robots.txt
  React/Markdown/public/testing.png
  React/Markdown/src/App.js
  React/Markdown/src/index.css
  React/Markdown/src/index.js
Labels: Level2, GSSoC22, Completed 🥳, React Js

#327 Added Calendar
  Python/Calender/README.md
  Python/Calender/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#336 Spritesheet Animation added
  Web Development/Spritesheet Animation/README.md
  Web Development/Spritesheet Animation/character.JPG
  Web Development/Spritesheet Animation/fly.png
  Web Development/Spritesheet Animation/game2bg.png
  Web Development/Spritesheet Animation/index.html
  Web Development/Spritesheet Animation/jump.png
  Web Development/Spritesheet Animation/run.png
  Web Development/Spritesheet Animation/style.css
Labels: Level1, GSSoC22, Completed 🥳, Web-Dev

#359 filters
  Python/filters/.idea/.gitignore
  Python/filters/.idea/.name
  Python/filters/.idea/filter.iml
  Python/filters/.idea/inspectionProfiles/Project_Default.xml
  Python/filters/.idea/inspectionProfiles/profiles_settings.xml
  Python/filters/.idea/misc.xml
  Python/filters/.idea/modules.xml
  Python/filters/README.md
  Python/filters/beard.png
  Python/filters/cool.png
  Python/filters/haarcascade_frontalface_default.xml
  Python/filters/main.py
  Python/filters/native.png
  Python/filters/pirate.png
  Python/filters/star.png
  Python/filters/sunglass.png
Labels: Level2, GSSoC22, Completed 🥳, Python

#292 shin-chan anime with python
  Python/Shin Chan/README.md
  Python/Shin Chan/Shinchan.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#348 Added Movies DB
  React/Movies DB/Readme.md
  React/Movies DB/package-lock.json
  React/Movies DB/package.json
  React/Movies DB/public/favicon.ico
  React/Movies DB/public/index.html
  React/Movies DB/public/logo192.png
  React/Movies DB/public/logo512.png
  React/Movies DB/public/manifest.json
  React/Movies DB/public/robots.txt
  React/Movies DB/src/App.js
  React/Movies DB/src/Home.js
  React/Movies DB/src/Movies.js
  React/Movies DB/src/SearchForm.js
  React/Movies DB/src/SingleMovie.js
  React/Movies DB/src/context.js
  React/Movies DB/src/index.css
  React/Movies DB/src/index.js
  React/Movies DB/src/useFetch.js
Labels: Level2, GSSoC22, Completed 🥳, React Js

#334 Added image object detector files
  Python/Image_Object_Detector/readme.md
  Python/Image_Object_Detector/script.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#373 Analog Clock UI
  Web Development/Clock UI/index.html
  Web Development/Clock UI/readme.md
  Web Development/Clock UI/script.js
  Web Development/Clock UI/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#363 Netflix Landing Page
  Web Development/Netflix Web Page/1.jpg
  Web Development/Netflix Web Page/2.jpg
  Web Development/Netflix Web Page/3.jpg
  Web Development/Netflix Web Page/4.png
  Web Development/Netflix Web Page/index.html
  Web Development/Netflix Web Page/logo.jpg
  Web Development/Netflix Web Page/macbook.png
  Web Development/Netflix Web Page/mixvideo.m4v
  Web Development/Netflix Web Page/readme.md
  Web Development/Netflix Web Page/saifalivideo.m4v
  Web Development/Netflix Web Page/style.css
  Web Development/Netflix Web Page/tv (1).png
  Web Development/Netflix Web Page/tv.png
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#295 Added LinkedIn Connections Scraper files
  Python/LinkedIn_Connections_Scraper/readme.md
  Python/LinkedIn_Connections_Scraper/script.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#324 Added whatsapp web clone files
  Web Development/Whatsapp_Web_Clone/assets/css/style.css
  Web Development/Whatsapp_Web_Clone/assets/media/avatar.png
  Web Development/Whatsapp_Web_Clone/assets/media/icon.png
  Web Development/Whatsapp_Web_Clone/index.html
  Web Development/Whatsapp_Web_Clone/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#392 Blog
  NodeJS/Custom Blog Website/Readme.md
  NodeJS/Custom Blog Website/app.js
  NodeJS/Custom Blog Website/package-lock.json
  NodeJS/Custom Blog Website/package.json
  NodeJS/Custom Blog Website/public/css/styles.css
  NodeJS/Custom Blog Website/views/about.ejs
  NodeJS/Custom Blog Website/views/compose.ejs
  NodeJS/Custom Blog Website/views/contact.ejs
  NodeJS/Custom Blog Website/views/home.ejs
  NodeJS/Custom Blog Website/views/partials/footer.ejs
  NodeJS/Custom Blog Website/views/partials/header.ejs
  NodeJS/Custom Blog Website/views/post.ejs
Labels: Level2, GSSoC22, Completed 🥳, NodeJS

#371 Change Letter Casing
  Web Development/Change Letter Casing/case.html
  Web Development/Change Letter Casing/readme.md
  Web Development/Change Letter Casing/script.js
  Web Development/Change Letter Casing/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#294 Ai tic tac toe
  Python/AI tic tac toe/README.md
  Python/AI tic tac toe/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#377 Added Simple Interest Calculator
  Web Development/Simple Interest Calculator/Readme.md
  Web Development/Simple Interest Calculator/index.html
  Web Development/Simple Interest Calculator/script/script.js
  Web Development/Simple Interest Calculator/snips/snip1.png
  Web Development/Simple Interest Calculator/style/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#358 Adding Number of Days Calc
  Web Development/Number_of_Days_Calculator/Readme.md
  Web Development/Number_of_Days_Calculator/app.js
  Web Development/Number_of_Days_Calculator/index.html
  Web Development/Number_of_Days_Calculator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#422 Added Color generator Using ReactJS
  React/ColorGen/README.md
  React/ColorGen/package-lock.json
  React/ColorGen/package.json
  React/ColorGen/public/favicon.ico
  React/ColorGen/public/index.html
  React/ColorGen/public/logo192.png
  React/ColorGen/public/logo512.png
  React/ColorGen/public/manifest.json
  React/ColorGen/public/robots.txt
  React/ColorGen/src/App.js
  React/ColorGen/src/SingleColor.js
  React/ColorGen/src/index.css
  React/ColorGen/src/index.js
  React/ColorGen/src/utils.js
Labels: Level2, GSSoC22, React Js

#396 Adding Project Mentors Section, GSSoC link, Project Admin name and improving README.md style
  README.md
Labels: Level1, GSSoC22, Completed 🥳, GitHub

#435 Added SQL CRUD using NodeJS files
  NodeJS/SQLite3_DB_CRUD/MPanel.js
  NodeJS/SQLite3_DB_CRUD/package-lock.json
  NodeJS/SQLite3_DB_CRUD/package.json
  NodeJS/SQLite3_DB_CRUD/readme.md
Labels: Level2, GSSoC22, Completed 🥳, NodeJS

#438 Added Password Generator
  JAVA/Password Generator/Password_Generator.java
  JAVA/Password Generator/Readme.md
  JAVA/Password Generator/password.txt
  JAVA/Password Generator/snips/snip1.png
  JAVA/Password Generator/snips/snip2.png
Labels: Level2, GSSoC22, Completed 🥳, Java

#440 Recipe Landing Page
  React/react-recipe-app/README.md
  React/react-recipe-app/package-lock.json
  React/react-recipe-app/package.json
  React/react-recipe-app/preview.png
  React/react-recipe-app/public/favicon.ico
  React/react-recipe-app/public/img/gallery/img_1.jpg
  React/react-recipe-app/public/img/gallery/img_10.jpg
  React/react-recipe-app/public/img/gallery/img_2.jpg
  React/react-recipe-app/public/img/gallery/img_3.jpg
  React/react-recipe-app/public/img/gallery/img_4.jpg
  React/react-recipe-app/public/img/gallery/img_5.jpg
  React/react-recipe-app/public/img/gallery/img_6.jpg
  React/react-recipe-app/public/img/gallery/img_7.jpg
  React/react-recipe-app/public/img/gallery/img_8.jpg
  React/react-recipe-app/public/img/gallery/img_9.jpg
  React/react-recipe-app/public/img/top-chiefs/img_1.jpg
  React/react-recipe-app/public/img/top-chiefs/img_2.jpg
  React/react-recipe-app/public/img/top-chiefs/img_3.jpg
  React/react-recipe-app/public/img/top-chiefs/img_4.jpg
  React/react-recipe-app/public/img/top-chiefs/img_5.jpg
  React/react-recipe-app/public/img/top-chiefs/img_6.jpg
  React/react-recipe-app/public/index.html
  React/react-recipe-app/public/logo192.png
  React/react-recipe-app/public/logo512.png
  React/react-recipe-app/public/manifest.json
  React/react-recipe-app/public/robots.txt
  React/react-recipe-app/src/App.js
  React/react-recipe-app/src/components/ChiefCard.js
  React/react-recipe-app/src/components/ChiefsSection.js
  React/react-recipe-app/src/components/CustomImage.js
  React/react-recipe-app/src/components/Footer.js
  React/react-recipe-app/src/components/HeroSection.js
  React/react-recipe-app/src/components/ImproveSkills.js
  React/react-recipe-app/src/components/Navbar.js
  React/react-recipe-app/src/components/PreviousSearches.js
  React/react-recipe-app/src/components/QuoteSection.js
  React/react-recipe-app/src/components/RecipeCard.js
  React/react-recipe-app/src/components/Sidebar.js
  React/react-recipe-app/src/index.js
  React/react-recipe-app/src/pages/Home.js
  React/react-recipe-app/src/pages/Recipes.js
  React/react-recipe-app/src/pages/Settings.js
  React/react-recipe-app/src/styles/index.scss
  React/react-recipe-app/src/styles/partials/_animations.scss
  React/react-recipe-app/src/styles/partials/_chiefs-section.scss
  React/react-recipe-app/src/styles/partials/_footer.scss
  React/react-recipe-app/src/styles/partials/_hero-section.scss
  React/react-recipe-app/src/styles/partials/_improve-section.scss
  React/react-recipe-app/src/styles/partials/_navbar.scss
  React/react-recipe-app/src/styles/partials/_previous-searches.scss
  React/react-recipe-app/src/styles/partials/_quote-section.scss
  React/react-recipe-app/src/styles/partials/_recipes-section.scss
Labels: Level2, GSSoC22, Completed 🥳, React Js

#426 Vaccine Management System
  C++/Vaccine Management System/readme.md
  C++/Vaccine Management System/vaccineManagement.cpp
Labels: Level3, GSSoC22, Completed 🥳, C++

#323 added Word_definition project in the Web Development
  Web Development/Word_Definition/Readme.md
  Web Development/Word_Definition/css/style.css
  Web Development/Word_Definition/index.html
  Web Development/Word_Definition/script/app.js
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#449 Calculate BMI💪
  Web Development/Calculate BMI/index.html
  Web Development/Calculate BMI/readme.md
  Web Development/Calculate BMI/script.js
  Web Development/Calculate BMI/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#432 Added DRUMKIT Project
  Web Development/DrumKIT/Readme.md
  Web Development/DrumKIT/images/crash.png
  Web Development/DrumKIT/images/kick.png
  Web Development/DrumKIT/images/snare.png
  Web Development/DrumKIT/images/tom1.png
  Web Development/DrumKIT/images/tom2.png
  Web Development/DrumKIT/images/tom3.png
  Web Development/DrumKIT/images/tom4.png
  Web Development/DrumKIT/index.html
  Web Development/DrumKIT/index.js
  Web Development/DrumKIT/sounds/crash.mp3
  Web Development/DrumKIT/sounds/kick-bass.mp3
  Web Development/DrumKIT/sounds/snare.mp3
  Web Development/DrumKIT/sounds/tom-1.mp3
  Web Development/DrumKIT/sounds/tom-2.mp3
  Web Development/DrumKIT/sounds/tom-3.mp3
  Web Development/DrumKIT/sounds/tom-4.mp3
  Web Development/DrumKIT/styles.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#404 Image Classifier Added
  Web Development/Image Classifier/README.md
  Web Development/Image Classifier/classifier.html
  Web Development/Image Classifier/sketch.js
  Web Development/Image Classifier/style.css
  Web Development/Image Classifier/vid_classifier.JPG
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#384 Added Wikipedia Clone
  Web Development/Wikipedia Clone/README.md
  Web Development/Wikipedia Clone/assets/icon/cropped-wikimedia-logo_black-svg-2.png
  Web Development/Wikipedia Clone/assets/icon/keyboard_arrow_down_black_24dp.svg
  Web Development/Wikipedia Clone/assets/icon/logo-app-store.png
  Web Development/Wikipedia Clone/assets/icon/logo-wikipedia.png
  Web Development/Wikipedia Clone/assets/icon/outline_search_white_24dp.png
  Web Development/Wikipedia Clone/assets/icon/png-transparent-google-play-mobile-phones-google-search-google-text-logo-sign.png
  Web Development/Wikipedia Clone/assets/icon/translate_black_24dp.svg
  Web Development/Wikipedia Clone/assets/img/1024px-Wiktfavicon_en.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Meta-Wiki_Proposed_logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Notification-icon-MediaWiki-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Notification-icon-Wikidata-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Notification-icon-Wikiquote.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Wikibooks-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Wikinews-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Wikisource-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Wikispecies-logo.svg.png
  Web Development/Wikipedia Clone/assets/img/1200px-Wikiversity_logo_2017.svg.png
  Web Development/Wikipedia Clone/assets/img/Commons-logo.svg
  Web Development/Wikipedia Clone/assets/img/Wikivoyage-Logo-v3-icon.svg.png
  Web Development/Wikipedia Clone/assets/img/logo-app-store.png
  Web Development/Wikipedia Clone/assets/img/logo-title.png
  Web Development/Wikipedia Clone/assets/img/png-transparent-google-play-mobile-phones-google-search-google-text-logo-sign.png
  Web Development/Wikipedia Clone/index.html
  Web Development/Wikipedia Clone/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#415 Added Quiz Application Using Java
  JAVA/Quiz Application/Quiz_Application.java
  JAVA/Quiz Application/Readme.md
  JAVA/Quiz Application/ans.txt
  JAVA/Quiz Application/options.txt
  JAVA/Quiz Application/ques.txt
  JAVA/Quiz Application/snips/snip1.png
  JAVA/Quiz Application/snips/snip2.png
Labels: Level3, GSSoC22, Completed 🥳, Java

#418 Img Filter
  Web Development/Image Filter/README.md
  Web Development/Image Filter/css/style.css
  Web Development/Image Filter/img/add-readme.png
  Web Development/Image Filter/img/oknoi.jpeg
  Web Development/Image Filter/index.html
  Web Development/Image Filter/js/app.js
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#446 Added Youtube_Vid_Stats_Scrapper files
  Python/Youtube_Stats_Scraper/readme.md
  Python/Youtube_Stats_Scraper/script.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#458 UDP Echo Client Server Program
  C/README.md
  C/UDP Echo Client-Server Program/README.md
  C/UDP Echo Client-Server Program/client.c
  C/UDP Echo Client-Server Program/server.c
Labels: Level2, GSSoC22, Completed 🥳, C
