Repository abhijeet007rocks8/Dev-Scripts, pull requests merged in 2022-05, with the labels that each got.

#424 Gradient generator
  Web Development/Random Gradient Colour Generator/README.md
  Web Development/Random Gradient Colour Generator/colors.png
  Web Development/Random Gradient Colour Generator/index.html
  Web Development/Random Gradient Colour Generator/script.js
  Web Development/Random Gradient Colour Generator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#322 Heap Memory management added
  C++/Heap Memory Management/Heap.cpp
  C++/Heap Memory Management/README.md
Labels: Level2, GSSoC22, C++

#471 Digital Alarm Clock⏰
  Web Development/Digital Alarm Clock/index.html
  Web Development/Digital Alarm Clock/readme.md
  Web Development/Digital Alarm Clock/script.js
  Web Development/Digital Alarm Clock/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#475 Color Picker 🌈
  Python/Color Picker/README.md
  Python/Color Picker/color_picker.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#505 Added LinkedIn_Video_Downloader files
  Python/LinkedIn_Video_Downloader/readme.md
  Python/LinkedIn_Video_Downloader/script.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#495 Doodle drawing
  Python/Doodle Drawing/README.md
  Python/Doodle Drawing/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#506 Added NodeJS_auth files
  NodeJS/NodeJS_auth/.env
  NodeJS/NodeJS_auth/app.js
  NodeJS/NodeJS_auth/package-lock.json
  NodeJS/NodeJS_auth/package.json
  NodeJS/NodeJS_auth/passport-config.js
  NodeJS/NodeJS_auth/readme.md
  NodeJS/NodeJS_auth/views/index.ejs
  NodeJS/NodeJS_auth/views/login.ejs
  NodeJS/NodeJS_auth/views/register.ejs
Labels: Level2, GSSoC22, Completed 🥳, NodeJS

#498 Youtube-video-downloader
  Python/Youtube-video-downloader/.idea/.gitignore
  Python/Youtube-video-downloader/.idea/inspectionProfiles/Project_Default.xml
  Python/Youtube-video-downloader/.idea/inspectionProfiles/profiles_settings.xml
  Python/Youtube-video-downloader/.idea/misc.xml
  Python/Youtube-video-downloader/.idea/modules.xml
  Python/Youtube-video-downloader/.idea/yt do.iml
  Python/Youtube-video-downloader/README.md
  Python/Youtube-video-downloader/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#492 Added memory game
  Web Development/Memory_Card_Game/Images/img-1.png
  Web Development/Memory_Card_Game/Images/img-2.png
  Web Development/Memory_Card_Game/Images/img-3.png
  Web Development/Memory_Card_Game/Images/img-4.png
  Web Development/Memory_Card_Game/Images/img-5.png
  Web Development/Memory_Card_Game/Images/img-6.png
  Web Development/Memory_Card_Game/Images/img-7.png
  Web Development/Memory_Card_Game/Images/img-8.png
  Web Development/Memory_Card_Game/Readme.md
  Web Development/Memory_Card_Game/index.html
  Web Development/Memory_Card_Game/script.js
  Web Development/Memory_Card_Game/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#487 Captcha Generator
  Web Development/Captcha Generator/Readme.md
  Web Development/Captcha Generator/img6.png
  Web Development/Captcha Generator/index.html
  Web Development/Captcha Generator/script.js
  Web Development/Captcha Generator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#341 Credit prediction
  Python/Machine Learning/Credit card approval prediction/Credit_card_approval_prediction.ipynb
  Python/Machine Learning/Credit card approval prediction/cc_approvals.data
  Python/Machine Learning/Credit card approval prediction/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Python

#533 Linear equation solver
  Python/Linear Equation Solver/README.md
  Python/Linear Equation Solver/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#510 Advance Calculator
  C++/Advance Calculator/Advance calculator2.cpp
  C++/Advance Calculator/Readme.md
Labels: Level2, GSSoC22, Completed 🥳, C++

#477 TCP Echo Client-server Program added
  C/TCP Echo Client-Server Program/README.md
  C/TCP Echo Client-Server Program/tcp_echo_client.c
  C/TCP Echo Client-Server Program/tcp_echo_server.c
Labels: Level2, GSSoC22, Completed 🥳, C

#545 Added URL_Shortner NodeJS App
  NodeJS/URL_Shortner/package-lock.json
  NodeJS/URL_Shortner/package.json
  NodeJS/URL_Shortner/readme.md
  NodeJS/URL_Shortner/server.js
  NodeJS/URL_Shortner/views/home.ejs
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#547 Added Speed_Typing_Game files
  Web Development/Speed_Typing_Game/game.js
  Web Development/Speed_Typing_Game/index.html
  Web Development/Speed_Typing_Game/readme.md
  Web Development/Speed_Typing_Game/styles.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#532 Language translator
  Python/Language Translator/README.md
  Python/Language Translator/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#457 Irctc landing page done
  Web Development/irctc/index.html
  Web Development/irctc/readme.md
  Web Development/irctc/script.js
  Web Development/irctc/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#553 Digital clock
  Web Development/Digital Clock/README.md
  Web Development/Digital Clock/css/style.css
  Web Development/Digital Clock/index.html
  Web Development/Digital Clock/js/script.js
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#552 Jumble word
  Python/Jumble Game/README.md
  Python/Jumble Game/main.py
  Python/Jumble Game/mainicon.ico
Labels: Level2, GSSoC22, Completed 🥳, Python

#397 Canteen Management System created
  C++/Canteen Management System/README.md
  C++/Canteen Management System/SCREEN-SHOTS/SS1.png
  C++/Canteen Management System/SCREEN-SHOTS/SS2.png
  C++/Canteen Management System/SCREEN-SHOTS/SS3.png
  C++/Canteen Management System/SCREEN-SHOTS/SS4.png
  C++/Canteen Management System/SCREEN-SHOTS/SS5.png
  C++/Canteen Management System/SCREEN-SHOTS/SS6.png
  C++/Canteen Management System/SCREEN-SHOTS/SS7.png
  C++/Canteen Management System/SCREEN-SHOTS/SS8.png
  C++/Canteen Management System/canteen_management.cpp
Labels: Level2, GSSoC22, Completed 🥳, C++

#441 Added Features in GUI calculator JAVA
  JAVA/GUI Calculator/ScientificCalculator$1.class
  JAVA/GUI Calculator/ScientificCalculator$10.class
  JAVA/GUI Calculator/ScientificCalculator$11.class
  JAVA/GUI Calculator/ScientificCalculator$12.class
  JAVA/GUI Calculator/ScientificCalculator$13.class
  JAVA/GUI Calculator/ScientificCalculator$14.class
  JAVA/GUI Calculator/ScientificCalculator$15.class
  JAVA/GUI Calculator/ScientificCalculator$16.class
  JAVA/GUI Calculator/ScientificCalculator$17.class
  JAVA/GUI Calculator/ScientificCalculator$18.class
  JAVA/GUI Calculator/ScientificCalculator$19.class
  JAVA/GUI Calculator/ScientificCalculator$2.class
  JAVA/GUI Calculator/ScientificCalculator$20.class
  JAVA/GUI Calculator/ScientificCalculator$21.class
  JAVA/GUI Calculator/ScientificCalculator$22.class
  JAVA/GUI Calculator/ScientificCalculator$23.class
  JAVA/GUI Calculator/ScientificCalculator$24.class
  JAVA/GUI Calculator/ScientificCalculator$25.class
  JAVA/GUI Calculator/ScientificCalculator$26.class
  JAVA/GUI Calculator/ScientificCalculator$27.class
  JAVA/GUI Calculator/ScientificCalculator$28.class
  JAVA/GUI Calculator/ScientificCalculator$29.class
  JAVA/GUI Calculator/ScientificCalculator$3.class
  JAVA/GUI Calculator/ScientificCalculator$30.class
  JAVA/GUI Calculator/ScientificCalculator$31.class
  JAVA/GUI Calculator/ScientificCalculator$32.class
  JAVA/GUI Calculator/ScientificCalculator$33.class
  JAVA/GUI Calculator/ScientificCalculator$34.class
  JAVA/GUI Calculator/ScientificCalculator$35.class
  JAVA/GUI Calculator/ScientificCalculator$36.class
  JAVA/GUI Calculator/ScientificCalculator$37.class
  JAVA/GUI Calculator/ScientificCalculator$4.class
  JAVA/GUI Calculator/ScientificCalculator$5.class
  JAVA/GUI Calculator/ScientificCalculator$6.class
  JAVA/GUI Calculator/ScientificCalculator$7.class
  JAVA/GUI Calculator/ScientificCalculator$8.class
  JAVA/GUI Calculator/ScientificCalculator$9.class
  JAVA/GUI Calculator/ScientificCalculator.class
  JAVA/GUI Calculator/ScientificCalculator.java
  JAVA/GUI Calculator/tempCodeRunnerFile.java
  JAVA/currency-converter/target/classes/com/app/currencyconverter/CurrencyConverterApplication.class
  JAVA/currency-converter/target/classes/com/app/currencyconverter/api/CurrencyApi.class
  JAVA/currency-converter/target/classes/com/app/currencyconverter/api/URLBuilder.class
  JAVA/currency-converter/target/classes/com/app/currencyconverter/controller/CurrencyConvertedController.class
  JAVA/currency-converter/target/classes/module-info.class
  Web Development/Netflix Web Page/1.jpg
  Web Development/Netflix Web Page/2.jpg
  Web Development/Netflix Web Page/3.jpg
  Web Development/Netflix Web Page/4.png
  Web Development/Netflix Web Page/index.html
  Web Development/Netflix Web Page/logo.jpg
  Web Development/Netflix Web Page/macbook.png
  Web Development/Netflix Web Page/mixvideo.m4v
  Web Development/Netflix Web Page/readme.md
  Web Development/Netflix Web Page/saifalivideo.m4v
  Web Development/Netflix Web Page/style.css
  Web Development/Netflix Web Page/tv (1).png
  Web Development/Netflix Web Page/tv.png
Labels: Level2, GSSoC22, Completed 🥳, Java

#451 108-Dictionary-App Added
  Web Development/Dictionary App/Logo.png
  Web Development/Dictionary App/index.html
  Web Development/Dictionary App/readme.md
  Web Development/Dictionary App/script.js
  Web Development/Dictionary App/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#504 Inventory Management System issue #389
  Python/Inventory/README.md
  Python/Inventory/addcategory.py
  Python/Inventory/additemmens.py
  Python/Inventory/addnewitem.py
  Python/Inventory/beige.webp
  Python/Inventory/categoryfirstpage.py
  Python/Inventory/clothing.db
  Python/Inventory/clothing.db-journal
  Python/Inventory/clothing.py
  Python/Inventory/download (1).jpg
  Python/Inventory/electronic.py
  Python/Inventory/electronics.db
  Python/Inventory/grocery.db
  Python/Inventory/grocery.db-journal
  Python/Inventory/grocery.py
  Python/Inventory/inventroy.db
  Python/Inventory/loginicon.ico
  Python/Inventory/main.py
  Python/Inventory/newscreen.py
  Python/Inventory/qrcode.py
  Python/Inventory/sports.db
  Python/Inventory/sports.py
  Python/Inventory/sports.sqbpro
  Python/Inventory/table.py
Labels: Level3, GSSoC22, Completed 🥳, Python

#536 Student Management (updatet readme and demo)
  JAVA/Student Record/Record.java
  JAVA/Student Record/StudentRecordLinkedList.java
  JAVA/Student Record/StudentRecordManagement.java
  JAVA/Student Record/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Java

#537 Loginui (added readme and demo)
  JAVA/Login UI/bin/ChangePassword$1.class
  JAVA/Login UI/bin/ChangePassword$2.class
  JAVA/Login UI/bin/ChangePassword.class
  JAVA/Login UI/bin/UserHome$1.class
  JAVA/Login UI/bin/UserHome$2.class
  JAVA/Login UI/bin/UserHome$3.class
  JAVA/Login UI/bin/UserHome.class
  JAVA/Login UI/bin/UserLogin$1.class
  JAVA/Login UI/bin/UserLogin$2.class
  JAVA/Login UI/bin/UserLogin.class
  JAVA/Login UI/readme.md
  JAVA/Login UI/src/ChangePassword.java
  JAVA/Login UI/src/UserHome.java
  JAVA/Login UI/src/UserLogin.java
Labels: Level2, GSSoC22, Completed 🥳, Java

#551 Encryption and Decryption
  C++/Encryption and Decryption/EncryptionAndDecryption.cpp
  C++/Encryption and Decryption/Readme.md
Labels: Level1, GSSoC22, Completed 🥳, C++

#560 Added NodeJS_Chat_Rooms files
  NodeJS/Chat_Rooms/package-lock.json
  NodeJS/Chat_Rooms/package.json
  NodeJS/Chat_Rooms/public/script.js
  NodeJS/Chat_Rooms/readme.md
  NodeJS/Chat_Rooms/server.js
  NodeJS/Chat_Rooms/views/index.ejs
  NodeJS/Chat_Rooms/views/room.ejs
Labels: Level3, GSSoC22, Completed 🥳, NodeJS

#561 Added NodeJS_JWT_Auth files
  NodeJS/JWT_Auth/.env
  NodeJS/JWT_Auth/auth_server.js
  NodeJS/JWT_Auth/curl_requests.txt
  NodeJS/JWT_Auth/package-lock.json
  NodeJS/JWT_Auth/package.json
  NodeJS/JWT_Auth/readme.md
  NodeJS/JWT_Auth/server.js
Labels: Level3, GSSoC22, Completed 🥳, NodeJS

#582 TCP Time Program added
  C/TCP Time Client-Server Program/README.md
  C/TCP Time Client-Server Program/client.c
  C/TCP Time Client-Server Program/server.c
Labels: Level1, GSSoC22, Completed 🥳, C

#583 Added Webcam Filters with GUI
  Python/WebCam GUI Filters/BlackAndWhite.py
  Python/WebCam GUI Filters/Canny.py
  Python/WebCam GUI Filters/DrStrange.py
  Python/WebCam GUI Filters/GUI.py
  Python/WebCam GUI Filters/Gray.py
  Python/WebCam GUI Filters/Inverse.py
  Python/WebCam GUI Filters/Normal_camera.py
  Python/WebCam GUI Filters/Readme.md
  Python/WebCam GUI Filters/Sketch.py
  Python/WebCam GUI Filters/Thug_life.py
  Python/WebCam GUI Filters/Xray.py
  Python/WebCam GUI Filters/__pycache__/BlackAndWhite.cpython-39.pyc
  Python/WebCam GUI Filters/__pycache__/DrStrange.cpython-39.pyc
  Python/WebCam GUI Filters/__pycache__/Normal_camera.cpython-39.pyc
  Python/WebCam GUI Filters/__pycache__/Sketch.cpython-39.pyc
  Python/WebCam GUI Filters/__pycache__/Xray.cpython-39.pyc
  Python/WebCam GUI Filters/cigar.png
  Python/WebCam GUI Filters/email_sender.py
  Python/WebCam GUI Filters/glass.png
  Python/WebCam GUI Filters/magic_circle_ccw.png
  Python/WebCam GUI Filters/magic_circle_cw.png
  Python/WebCam GUI Filters/mustache.png
Labels: Level3, GSSoC22, Completed 🥳, Python

#596 Added Windows11 Animation
  Web Development/Windows11/README.md
  Web Development/Windows11/icons.PNG
  Web Development/Windows11/index.html
  Web Development/Windows11/index.js
  Web Development/Windows11/logo.png
  Web Development/Windows11/startmenu.PNG
  Web Development/Windows11/style.css
  Web Development/Windows11/taskbarright.PNG
  Web Development/Windows11/video.webm
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#591 Adding a Drawing Space
  Web Development/Drawing_Space/Readme.md
  Web Development/Drawing_Space/index.html
  Web Development/Drawing_Space/script.js
  Web Development/Drawing_Space/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#590 Adding Project Hoverboard
  Web Development/Hoverboard/Readme.md
  Web Development/Hoverboard/index.html
  Web Development/Hoverboard/script.js
  Web Development/Hoverboard/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#589 Adding Countdown Animation
  Web Development/Countdown_Animation/Readme.md
  Web Development/Countdown_Animation/app.js
  Web Development/Countdown_Animation/index.html
  Web Development/Countdown_Animation/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#602 Added Scientific Calculator using Python
  Python/Scientific Calculator/Readme.md
  Python/Scientific Calculator/main.py
  Python/Scientific Calculator/snips/snip1.png
Labels: Level2, GSSoC22, Completed 🥳, Python

#606 Adding 3D Shapes Volume Calculator
  Web Development/3D_Sapes_Volume_Calculator/Readme.md
  Web Development/3D_Sapes_Volume_Calculator/index.html
  Web Development/3D_Sapes_Volume_Calculator/script.js
  Web Development/3D_Sapes_Volume_Calculator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#539 Alan ai
  React/Alan-ai-search-app-by-react/.gitignore
  React/Alan-ai-search-app-by-react/README.md
  React/Alan-ai-search-app-by-react/package-lock.json
  React/Alan-ai-search-app-by-react/package.json
  React/Alan-ai-search-app-by-react/public/favicon.ico
  React/Alan-ai-search-app-by-react/public/index.html
  React/Alan-ai-search-app-by-react/public/logo192.png
  React/Alan-ai-search-app-by-react/public/logo512.png
  React/Alan-ai-search-app-by-react/public/manifest.json
  React/Alan-ai-search-app-by-react/public/robots.txt
  React/Alan-ai-search-app-by-react/src/App.js
  React/Alan-ai-search-app-by-react/src/components/NewsCard/NewsCard.js
  React/Alan-ai-search-app-by-react/src/components/NewsCard/styles.js
  React/Alan-ai-search-app-by-react/src/components/NewsCards/NewsCards.js
  React/Alan-ai-search-app-by-react/src/components/NewsCards/styles.js
  React/Alan-ai-search-app-by-react/src/images/ai.png
  React/Alan-ai-search-app-by-react/src/index.css
  React/Alan-ai-search-app-by-react/src/index.js
  React/Alan-ai-search-app-by-react/src/styles.js
Labels: Level2, GSSoC22, Completed 🥳, React Js

#608 Adding Drink Water Goal App
  Web Development/Drink_Water_Goal/Readme.md
  Web Development/Drink_Water_Goal/index.html
  Web Development/Drink_Water_Goal/script.js
  Web Development/Drink_Water_Goal/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#616 Adding Notes App
  Web Development/Notes_App/Readme.md
  Web Development/Notes_App/index.html
  Web Development/Notes_App/script.js
  Web Development/Notes_App/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#617 Adding Project Password Generator
  Web Development/Password_Generator/Readme.md
  Web Development/Password_Generator/index.html
  Web Development/Password_Generator/script.js
  Web Development/Password_Generator/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#619 expense tracker added
  React/Expense Tracker/README.md
  React/Expense Tracker/package-lock.json
  React/Expense Tracker/package.json
  React/Expense Tracker/public/favicon.ico
  React/Expense Tracker/public/index.html
  React/Expense Tracker/public/logo192.png
  React/Expense Tracker/public/logo512.png
  React/Expense Tracker/public/manifest.json
  React/Expense Tracker/public/robots.txt
  React/Expense Tracker/src/App.js
  React/Expense Tracker/src/assets/Manage money-pana.png
  React/Expense Tracker/src/components/Details/Details.jsx
  React/Expense Tracker/src/components/Details/styles.js
  React/Expense Tracker/src/components/Main/Form/Form.jsx
  React/Expense Tracker/src/components/Main/Form/styles.js
  React/Expense Tracker/src/components/Main/List/List.jsx
  React/Expense Tracker/src/components/Main/List/styles.js
  React/Expense Tracker/src/components/Main/Main.jsx
  React/Expense Tracker/src/components/Main/styles.js
  React/Expense Tracker/src/components/Snackbar/Snackbar.jsx
  React/Expense Tracker/src/components/Snackbar/styles.js
  React/Expense Tracker/src/constants/categories.js
  React/Expense Tracker/src/context/context.js
  React/Expense Tracker/src/context/contextReducer.js
  React/Expense Tracker/src/index.css
  React/Expense Tracker/src/index.js
  React/Expense Tracker/src/styles.js
  React/Expense Tracker/src/useTransactions.js
  React/Expense Tracker/src/utils/formatDate.js
Labels: Level2, GSSoC22, Completed 🥳, React Js

#636 Browser
  Python/Browser/README.md
  Python/Browser/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#609 Jpeg to png
  Python/JPEG To PNG/README.md
  Python/JPEG To PNG/hello.png
  Python/JPEG To PNG/main.py
  Python/JPEG To PNG/sample.jpg
Labels: Level2, GSSoC22, Completed 🥳, Python

#566 Social Media Dashboard Implemented
  Web Development/Social Media Dashboard/README.md
  Web Development/Social Media Dashboard/darkstyle.css
  Web Development/Social Media Dashboard/index.html
  Web Development/Social Media Dashboard/litestyle.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#611 Added Animated Portfolio Website
  Web Development/Animated Portfolio/README.md
  Web Development/Animated Portfolio/index.html
  Web Development/Animated Portfolio/style.css
Labels: Level3, GSSoC22, Completed 🥳, Web-Dev

#557 Employeemanagement
  JAVA/Employee Management/EmployeeManagement.java
  JAVA/Employee Management/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Java

#569 Library Management System created
  C/Library Management System/LibraryManagementSystem
  C/Library Management System/LibraryManagementSystem.c
  C/Library Management System/LibraryManagementSystem.dSYM/Contents/Info.plist
  C/Library Management System/LibraryManagementSystem.dSYM/Contents/Resources/DWARF/LibraryManagementSystem
  C/Library Management System/README.md
  C/Library Management System/SCREEN-SHOTS/ss1.png
  C/Library Management System/SCREEN-SHOTS/ss2.png
  C/Library Management System/SCREEN-SHOTS/ss3.png
  C/Library Management System/SCREEN-SHOTS/ss4.png
  C/Library Management System/libraryfile.txt
Labels: Level2, GSSoC22, Completed 🥳, C

#574 Intrestcal
  JAVA/InterestCalculator/Account.java
  JAVA/InterestCalculator/FDaccount.java
  JAVA/InterestCalculator/InterestCalculator.java
  JAVA/InterestCalculator/InvalidAgeException.java
  JAVA/InterestCalculator/InvalidAmountException.java
  JAVA/InterestCalculator/InvalidDaysException.java
  JAVA/InterestCalculator/InvalidMonthsException.java
  JAVA/InterestCalculator/RDaccount.java
  JAVA/InterestCalculator/SBaccount.java
  JAVA/InterestCalculator/readme.md
Labels: Level2, GSSoC22, Completed 🥳, Java

#572 Amazon-clone
  React/amazon-clone/.firebase/hosting.YnVpbGQ.cache
  React/amazon-clone/.firebaserc
  React/amazon-clone/.gitignore
  React/amazon-clone/README.md
  React/amazon-clone/firebase.json
  React/amazon-clone/functions/.eslintrc.js
  React/amazon-clone/functions/.eslintrc.json
  React/amazon-clone/functions/.gitignore
  React/amazon-clone/functions/index.js
  React/amazon-clone/functions/package-lock.json
  React/amazon-clone/functions/package.json
  React/amazon-clone/functions/ui-debug.log
  React/amazon-clone/package-lock.json
  React/amazon-clone/package.json
  React/amazon-clone/public/favicon.ico
  React/amazon-clone/public/index.html
  React/amazon-clone/public/logo192.png
  React/amazon-clone/public/logo512.png
  React/amazon-clone/public/manifest.json
  React/amazon-clone/public/robots.txt
  React/amazon-clone/src/App.css
  React/amazon-clone/src/App.js
  React/amazon-clone/src/Checkout.css
  React/amazon-clone/src/Checkout.js
  React/amazon-clone/src/CheckoutProduct.css
  React/amazon-clone/src/CheckoutProduct.js
  React/amazon-clone/src/Header.css
  React/amazon-clone/src/Header.js
  React/amazon-clone/src/Home.css
  React/amazon-clone/src/Home.js
  React/amazon-clone/src/Login.css
  React/amazon-clone/src/Login.js
  React/amazon-clone/src/Order.css
  React/amazon-clone/src/Order.js
  React/amazon-clone/src/Orders.css
  React/amazon-clone/src/Orders.js
  React/amazon-clone/src/Payment.css
  React/amazon-clone/src/Payment.js
  React/amazon-clone/src/Product.css
  React/amazon-clone/src/Product.js
  React/amazon-clone/src/StateProvider.js
  React/amazon-clone/src/Subtotal.css
  React/amazon-clone/src/Subtotal.js
  React/amazon-clone/src/axios.js
  React/amazon-clone/src/firebase.js
  React/amazon-clone/src/index.css
  React/amazon-clone/src/index.js
  React/amazon-clone/src/reducer.js
  React/amazon-clone/src/serviceWorker.js
Labels: Level3, GSSoC22, Completed 🥳, React Js

#642 Duplicate file remover
  Python/Duplicate Files Remover/README.md
  Python/Duplicate Files Remover/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#575 LIbrary
  JAVA/Library Management System/Library.java
  JAVA/Library Management System/book.java
  JAVA/Library Management System/books.java
  JAVA/Library Management System/readme.md
  JAVA/Library Management System/student.java
  JAVA/Library Management System/students.java
Labels: Level2, GSSoC22, Completed 🥳, Java

#655 Adding Divide Landing Page Project
  Web Development/Divide_Landing_Page/Readme.md
  Web Development/Divide_Landing_Page/index.html
  Web Development/Divide_Landing_Page/ps.jpg
  Web Development/Divide_Landing_Page/script.js
  Web Development/Divide_Landing_Page/style.css
  Web Development/Divide_Landing_Page/xbox.jpg
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#653 Adding Cards Expansion Project
  Web Development/Cards_Expansion/Readme.md
  Web Development/Cards_Expansion/index.html
  Web Development/Cards_Expansion/script.js
  Web Development/Cards_Expansion/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#652 Adding Vertical Slider Project
  Web Development/Two_Buttons_Vertical_Slider/Readme.md
  Web Development/Two_Buttons_Vertical_Slider/index.html
  Web Development/Two_Buttons_Vertical_Slider/script.js
  Web Development/Two_Buttons_Vertical_Slider/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#651 Adding Double Click Like Project
  Web Development/Double_Click_Like/Readme.md
  Web Development/Double_Click_Like/index.html
  Web Development/Double_Click_Like/script.js
  Web Development/Double_Click_Like/style.css
Labels: Level2, GSSoC22, Completed 🥳, Web-Dev

#599 Simple Library Management
  Web Development/Simple Libray Management/index.html
  Web Development/Simple Libray Management/readme.md
  Web Development/Simple Libray Management/script.js
Labels: Level3, GSSoC22, Completed 🥳, Web-Dev

#692 word to pdf
  Python/word to pdf/.idea/.gitignore
  Python/word to pdf/.idea/inspectionProfiles/Project_Default.xml
  Python/word to pdf/.idea/inspectionProfiles/profiles_settings.xml
  Python/word to pdf/.idea/misc.xml
  Python/word to pdf/.idea/modules.xml
  Python/word to pdf/.idea/word to pdf.iml
  Python/word to pdf/README.md
  Python/word to pdf/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#695 png/jpg to pdf
  Python/png or jpeg to pdf/.idea/.gitignore
  Python/png or jpeg to pdf/.idea/inspectionProfiles/Project_Default.xml
  Python/png or jpeg to pdf/.idea/inspectionProfiles/profiles_settings.xml
  Python/png or jpeg to pdf/.idea/misc.xml
  Python/png or jpeg to pdf/.idea/modules.xml
  Python/png or jpeg to pdf/.idea/png or jpeg to pdf.iml
  Python/png or jpeg to pdf/README.md
  Python/png or jpeg to pdf/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python
