Repository abhijeet007rocks8/Dev-Scripts, pull requests merged in 2022-06, with the labels that each got.

#691 Match maker
  Python/Match Maker/README.md
  Python/Match Maker/main.py
Labels: Level2, GSSoC22, Completed 🥳, Python

#699 Course enrollement
  JAVA/Student_Course_Enrollment_App-main/README.md
  JAVA/Student_Course_Enrollment_App-main/StudentDatabaseApp.class
  JAVA/Student_Course_Enrollment_App-main/StudentDatabaseApp.java
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/ConsOverload.class
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/ConsOverload.java
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/Demo.class
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/Student.class
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/Student.java
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/overriding.class
  JAVA/Student_Course_Enrollment_App-main/studentdatabaseapp/overriding.java
Labels: Level2, GSSoC22, Completed 🥳, Java

#698 College Management System
  C++/College_Management_System/College_Mangement_System.cpp
  C++/College_Management_System/Project_preview/6.jpg
  C++/College_Management_System/Project_preview/7.jpg
  C++/College_Management_System/Project_preview/8.jpg
  C++/College_Management_System/Readme.md
Labels: Level2, GSSoC22, Completed 🥳, C++
